# data frame

## 04-1 데이터프레임 이해하기

데이터프레임은 데이터를 다룰 때 가장 많이 사용되는 데이터 형태

열(column or variable): 속성을 나타냄

행(row or case): 각 정보들

## 04-2데이터 프레임 만들기 - 시험 성적 데이터를 만들어 보자!

### 데이터를 입력해 데이터 프레임 만들기

In [1]:
#step1. pandas패키지 로드
import pandas as pd

In [5]:
#step2. 데이터프레임 만들기(DataFrame())
df = pd.DataFrame({'name':['kim','kang','doo','lee'],
               'english':[90,80,70,60],
               'math':[60,70,80,90]})
df

   name  english  math
0   kim       90    60
1  kang       80    70
2   doo       70    80
3   lee       60    90

### 데이처 프레임으로 분석하기

In [6]:
#step1. 특정 변수 값 추출하기
df['english']

0    90
1    80
2    70
3    60
Name: english, dtype: int64

In [7]:
df['math']

0    60
1    70
2    80
3    90
Name: math, dtype: int64

In [8]:
#step2. 변수의 값으로 합계 구하기
sum(df['english'])

300

In [9]:
sum(df['math'])

300

In [10]:
#step3. 변수의 값으로 평균 구하기
sum(df['english'])/4

75.0

### 혼자서 해보기

In [11]:
# Q1. 다음 표의 내용을 데이터 프레임으로 만들어 출력해보세요

In [12]:
df = pd.DataFrame({'제품':['사과','딸기','수박'],
                  '가격':[1800,1500,3000],
                  '판매량':[25,38,13]})
df

   제품    가격  판매량
0  사과  1800   25
1  딸기  1500   38
2  수박  3000   13

In [13]:
# Q2. 앞에서 만든 데이터프레임을 이용해 과일의 가격 평균과 판매량 평균을 구해보세요

In [14]:
fruits = sum(df['가격'])/3
fruits

2100.0

In [16]:
sold = sum(df['판매량'])/3
sold

25.333333333333332

## 04-3 외부 데이터 이용하기 - 축적된 시험 성적 데이터를 불러오자!

### 엑셀 파일 불러오기

In [17]:
#step1. 엑셀 파일 살펴보기

In [18]:
#step2. 워킹 디렉터리에 엑셀 파일 삽입하기
# 워킹 디렉토리에 엑셀 파일 저장

In [22]:
# step3. 엑셀 파일 불러오기(read_excel())
df_exam = pd.read_excel('excel_exam.xlsx')
df_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [25]:
#step4. 분석하기
# 전체 평균 구하기
sum(df_exam['english'])/len(df_exam)
#직접 갯수를 입력하지 않고 len함수를 이용하여 평균 구할 수 있음

84.9

In [24]:
sum(df_exam['science'])/20

59.45

* 만약 엑셀 파일의 첫번째 행이 변수명이 아니라면?
read_excel()함수는 파일의 첫번째 행을 변수명으로 인식해서 불러옴
만약 첫번째 행이 변수명이 아니라면 데이터 유실 문제 발생
=> 이럴 땐 read_excel()에 header = None을 입력하면 첫번째 행을 데이터로 인식함

In [27]:
df_exam_novar = pd.read_excel('excel_exam.xlsx', header = None)
df_exam_novar

     0       1     2        3        4
0   id  nclass  math  english  science
1    1       1    50       98       50
2    2       1    60       97       60
3    3       1    45       86       78
4    4       1    30       98       58
5    5       2    25       80       65
6    6       2    50       89       98
7    7       2    80       90       45
8    8       2    90       78       25
9    9       3    20       98       15
10  10       3    50       98       45
11  11       3    65       65       65
12  12       3    45       85       32
13  13       4    46       98       65
14  14       4    48       87       12
15  15       4    75       56       78
16  16       4    58       98       65
17  17       5    65       68       98
18  18       5    80       78       90
19  19       5    89       68       87
20  20       5    78       83       58

* 만약 엑셀 파일에 시트가 여러개 있다면?
하나의 엑셀 파일에 여러 개의 시트가 있을 때 특정 시트를 불러오려면 sheet_name 파라미터에 시트 이름을 입력
or 몇 번째 시트를 불러올지 숫자를 입력하면 됨
=> 세 번째 시트를 불러오려면 sheet_name = 2 
! 파이썬에서는 숫자를 0부터 셈

### CSV 파일 불러오기

csv 파일: R, SAS, SPSS 등 데이터를 다루는 대부분의 프로그램에서 쓸 수 있는 범용 데이터 파일<br>
csv == comma - separated values<br>
값이 쉼표로 구분된 형태임

In [28]:
#step1. 워킹 디렉토리에 csv파일 삽입하기

In [29]:
#step2. csv 파일 불러오기(read_csv())
df_csv_exam = pd.read_csv('exam.csv')
df_csv_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

### 데이터 프레임을 CSV 파일로 저장하기

In [31]:
#step1. 데이터프레임 만들기
df_midterm = pd.DataFrame({'english':[90,80,60,70],
                          'math':[50,60,100,20],
                          'nclass':[1,1,2,2]})
df_midterm

   english  math  nclass
0       90    50       1
1       80    60       1
2       60   100       2
3       70    20       2

In [33]:
#step2. CSV파일로 저장하기(to_csv())
df_midterm.to_csv("output_newdata.csv", index = False) #괄호 안에는 저장할 파일명

In [ ]:
* 저장한 csv 파일을 엑셀에서 열어보면 첫 번째 열에 인덱스 번호가 들어가 있는데<br>
이를 없애려면 to_csv()에 index = False 를 입력하면 됨